@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600&display=swap');

        * {
            margin: 0;
            border: 0;
            padding: 0;
            box-sizing: border-box;
            font-family: "Poppins", sans-serif;

        }

        body {
            background-image: url(https://cdn.wallpapersafari.com/41/72/DqcEei.jpg);
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
            background-attachment: fixed;
            min-height: 100vh;
            min-width: 100vw;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        .formulario {
            background: linear-gradient(#0099ff, #34aeff);
            color: white;
            margin-left: auto;
            margin-right: auto;
            width: 600px;
            min-width: 320px;
            min-height: 40vh;
            padding: 2rem;
            border-radius: 8px;
            box-shadow: 0px 0px 15px #000000;
            text-shadow: 1px 1px 5px #00000050;
        }
        .formularioroxo {
            background: linear-gradient(#6A5ACD, #6959CD);
            color: white;
            margin-left: auto;
            margin-right: auto;
            width: 600px;
            min-width: 320px;
            min-height: 40vh;
            padding: 2rem;
            border-radius: 8px;
            box-shadow: 0px 0px 15px #000000;
            text-shadow: 1px 1px 5px #00000050;
        }
        .formulariogrande {
            background: linear-gradient(#0099ff, #34aeff);
            color: white;
            margin-left: auto;
            margin-right: auto;
            width: 1115px;
            min-width: 320px;
            min-height: 40vh;
            padding: 2rem;
            border-radius: 8px;
            box-shadow: 0px 0px 15px #000000;
            text-shadow: 1px 1px 5px #00000050;
        }
        span{
            color: #0099ff;
        }